<footer class="footer container-fluid">
    <span class="text-footer">Pizza.22 - практичний проект в межах курсу JavaScript в Києво-Могилянській Академії <br>Доставка піци не здійснюється</span>
</footer>
</div>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
<script type="text/javascript"  src="assets/js/main.js"> </script>
<script	type="text/javascript"
           src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBu8EfHXfhweZE-W19Uo2d_UIFrmKvOeMo">
</script>
<script	src="//static.liqpay.com/libjs/checkout.js" async></script>
</body>
</html>